h1, #determine-nums, #determine-btns, #factorial-section, #palindrome-section, #fizz-buzz-section {
    margin-bottom: 30px;
}

#determine-btns > .btn {
    margin-right: 10px;
}

.determine-num {
    width: 75px;
    margin-right: 10px;
}

#fizz-num, #buzz-num, #upper-limit {
    width: 125px;
    margin-right: 10px;
}

#numbers-result, #factorial-result, #palindrome-result {
    min-height: 30px;
}

#factorial-number, #user-palindrome, #clear-fact-btn, #clear-palindrome {
    margin-right: 10px;
}

.result-class {
    outline: 1px solid gray;
    padding: 0 15px;
    background-color: lightgray;
    width: 300px;
}

#console-help {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 14px;
    font-style: italic;
}